.column {
 display:inline-block;
}

.column div {
  height:68px;
  width: 68px;
  border: 1px solid black;
}

.grid6x7 {
    display:table;
    height:420px;
    width:490px;
    background-color: yellow;
}

.player1 {
  background-color: red;
}

.player2 {
  background-color: blue;
}

#button {
  height:70px;
  width: 70px;
}

.button_row #button {
  float: left;
/*  margin: 1px;
  border:1px solid blue;
}
*/
