<div class="button_row">
    <div class="column_1"><button id="button">Drop piece</div>
    <div class="column_2"><button id="button">Drop piece</div>
    <div class="column_3"><button id="button">Drop piece</div>
    <div class="column_4"><button id="button">Drop piece</div>
    <div class="column_5"><button id="button">Drop piece</div>
    <div class="column_6"><button id="button">Drop piece</div>
    <div class="column_7"><button id="button">Drop piece</div>
  </div>

<div class="grid6x7">

  <div class="column">
    <div class="player1"></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
  <div class="column">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
  <div class="column">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
  <div class="column">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
  <div class="column">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
  <div class="column">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
  <div class="column">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>

</div>


