</style>
<div class="grid3x3">
  <div class="row1">
    <div class="column_1">11</div>
    <div class="column_2">12</div>
    <div class="column_3">13</div>
    <div class="column_4">11</div>
    <div class="column_5">11</div>
    <div class="column_6">11</div>
    <div class="column_7">11</div>
  </div>
  <div class="row2">
    <div class="column_1">21</div>
    <div class="column_2">22</div>
    <div class="column_3">23</div>
    <div class="column_4">24</div>
    <div class="column_5">25</div>
    <div class="column_6">26</div>
    <div class="column_7">27</div>
  </div>
  <div class="row3">
    <div class="column_1">31</div>
    <div class="column_2">32</div>
    <div class="column_3">33</div>
    <div class="column_4">34</div>
    <div class="column_5">35</div>
    <div class="column_6">36</div>
    <div class="column_7">37</div>
  </div>
  <div class="row4">
    <div class="column_1">41</div>
    <div class="column_2">42</div>
    <div class="column_3">43</div>
    <div class="column_4">44</div>
    <div class="column_5">45</div>
    <div class="column_6">46</div>
    <div class="column_7">47</div>
  </div>
  <div class="row5">
    <div class="column_1">51</div>
    <div class="column_2">52</div>
    <div class="column_3">53</div>
    <div class="column_4">54</div>
    <div class="column_5">55</div>
    <div class="column_6">56</div>
    <div class="column_7">57</div>
  </div>
  <div class="row6">
    <div class="column_1">61</div>
    <div class="column_2">62</div>
    <div class="column_3">63</div>
    <div class="column_4">64</div>
    <div class="column_5">65</div>
    <div class="column_6">66</div>
    <div class="column_7">67</div>
  </div>
